.TranslationComponent {
    display: flex;
    .TransImg {
            width: 35px;
            height: 25px;
            padding: 5px;
            :hover {
                zoom: 25%;
            }
    }
}

